atropos ==1.1.5
bioconductor-annotationhub ==2.6.0
bioconductor-dupradar ==1.2.2
biopython ==1.69
bokeh ==0.12.6
bowtie2 ==2.3.2
cutadapt ==1.13
dask ==0.15.2
deeptools ==2.5.3
fastqc ==0.11.5
fastq-screen ==0.11.1
GEOparse ==1.0.1
gffutils ==0.8.7.1
ghostscript ==9.18
hisat2 ==2.0.5
htseq ==0.7.2
#ipycache ==0.1.6dev
ipython ==6.1.0
jedi >=0.9.0
kallisto ==0.43.0
lcdblib ==0.1.2.post
matplotlib ==2.0.2
multiqc ==1.0
nb_conda_kernels ==2.1.0
notebook ==5.0.0
numpy ==1.12.1
pandas ==0.20.2
picard ==2.9.2
pybedtools ==0.7.10
pysam == 0.11.2.2
pytest ==3.1.1
pytest-xdist ==1.18
python ==3.6
r ==3.3.2
salmon ==0.8.2
samtools ==1.4.1
scikit-learn ==0.19.0
scipy ==0.19.1
seaborn ==0.8.0
snakemake ==4.0.0
sra-tools ==2.8.2
statsmodels ==0.8.0
subread ==1.5.2
ucsc-gtftogenepred ==332
ucsc-oligomatch ==332
watermark>=1.3.1
yaml ==0.1.6
