atropos
bedtools
bioconductor-annotationhub
bioconductor-annotationhub
bioconductor-clusterprofiler
bioconductor-deseq2
bioconductor-dupradar
bioconductor-genomicfeatures
bioconductor-sva
bioconductor-tximport
biopython
bokeh
bowtie2
cutadapt
dask
deeptools
fastqc
fastq-screen
GEOparse
gat
gffutils
ghostscript
graphviz
hisat2
htseq
intervalstats
jupyter
kallisto
lcdblib
matplotlib
multiqc
notebook
numpy
pandas
pandoc
picard
pybedtools
pysam
pytest
pytest-xdist
python >=3.6
r-base >=3.4
r-codetools
r-dt
r-knitr
r-knitrbootstrap
r-pheatmap
r-readr
r-rmarkdown
salmon
samtools
scikit-learn
scipy
seaborn
snakemake
sra-tools >=2.8
statsmodels
subread
ucsc-fetchchromsizes
ucsc-gtftogenepred
ucsc-liftover
ucsc-oligomatch
ucsc-twobittofa
watermark
yaml
